@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: none;
    font-family: "Space Mono", monospace;
}
#topbar {
    background-color: black;
    color: white;
}
#topbar-text {
    margin-bottom: 5px 2px 5px 2px;
}
.project {
    padding: 5px;
    display: inline-block;
    border: 2px black solid;
    margin: 2px;
}
